<!-- Places details page -->

<h1><%=@place["name"]%></h1>

<ul>
  <%  for post in @posts %>
  <h3><%=post["title"]%> </h3>
  <p><%=post["posted_on"]%> </p>
  <h4><%=post["description"]%> </h4>
  <%end%>
</ul>

<p>
  <a href="/posts/new?place_id=<%= @place["id"]%>"> New Post</a>
</p>
 
<p>
  <a href="/places">Back to All Places Visited</a>
</p>
